<div class="character-page">
  <div class="character-page-container">
  <h3>
    <div class="character-name">{{character.name}}</div>
  </h3>
  <div class="character-description"> {{character.description}}</div>
  <!-- <a ui-sref="images({id: character._id, imagesParam: character.images})">Get Images</a> -->
  <img class="img-main" ng-src="{{character.mainImg}}"><br>
  </div>
  <div class="row">
    <div class="col-sm-4 characters"ng-repeat="x in characterImg| limitTo:quanity">
        <img class="character-imgs" ng-src="{{x.images[0].link}}">
      </div>
    </div>
  </div>

</div>
<div ui-view></div>